{{>layout/header}}
<!-- Page Wrapper -->
<div id="wrapper">

    {{>layout/left}}

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <form class="form-inline">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                </form>

                <!-- Topbar Search -->
                <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                               aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                             aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small"
                                           placeholder="Search for..." aria-label="Search"
                                           aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>

                    <!-- Nav Item - Alerts -->
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-bell fa-fw"></i>
                            <!-- Counter - Alerts -->
                            <span class="badge badge-danger badge-counter">3+</span>
                        </a>
                        <!-- Dropdown - Alerts -->
                        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="alertsDropdown">
                            <h6 class="dropdown-header">
                                Alerts Center
                            </h6>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="mr-3">
                                    <div class="icon-circle bg-primary">
                                        <i class="fas fa-file-alt text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-500">December 12, 2019</div>
                                    <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="mr-3">
                                    <div class="icon-circle bg-success">
                                        <i class="fas fa-donate text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-500">December 7, 2019</div>
                                    $290.29 has been deposited into your account!
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="mr-3">
                                    <div class="icon-circle bg-warning">
                                        <i class="fas fa-exclamation-triangle text-white"></i>
                                    </div>
                                </div>
                                <div>
                                    <div class="small text-gray-500">December 2, 2019</div>
                                    Spending Alert: We've noticed unusually high spending for your account.
                                </div>
                            </a>
                            <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                        </div>
                    </li>

                    <!-- Nav Item - Messages -->
                    <li class="nav-item dropdown no-arrow mx-1">
                        <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-envelope fa-fw"></i>
                            <!-- Counter - Messages -->
                            <span class="badge badge-danger badge-counter">7</span>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="messagesDropdown">
                            <h6 class="dropdown-header">
                                Message Center
                            </h6>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" src="img/undraw_profile_1.svg"
                                         alt="">
                                    <div class="status-indicator bg-success"></div>
                                </div>
                                <div class="font-weight-bold">
                                    <div class="text-truncate">Hi there! I am wondering if you can help me with a
                                        problem I've been having.</div>
                                    <div class="small text-gray-500">Emily Fowler · 58m</div>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" src="img/undraw_profile_2.svg"
                                         alt="">
                                    <div class="status-indicator"></div>
                                </div>
                                <div>
                                    <div class="text-truncate">I have the photos that you ordered last month, how
                                        would you like them sent to you?</div>
                                    <div class="small text-gray-500">Jae Chun · 1d</div>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" src="img/undraw_profile_3.svg"
                                         alt="">
                                    <div class="status-indicator bg-warning"></div>
                                </div>
                                <div>
                                    <div class="text-truncate">Last month's report looks great, I am very happy with
                                        the progress so far, keep up the good work!</div>
                                    <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                                </div>
                            </a>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="dropdown-list-image mr-3">
                                    <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"
                                         alt="">
                                    <div class="status-indicator bg-success"></div>
                                </div>
                                <div>
                                    <div class="text-truncate">Am I a good boy? The reason I ask is because someone
                                        told me that people say this to all dogs, even if they aren't good...</div>
                                    <div class="small text-gray-500">Chicken the Dog · 2w</div>
                                </div>
                            </a>
                            <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                        </div>
                    </li>

                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{name}}</span>
                            <img class="img-profile rounded-circle"
                                 src="{{profile}}">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Profile
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                Settings
                            </a>
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                Activity Log
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">뉴스</h1>

                <div class="card mb-4">
                    <div class="card-header border-bottom">
                        <!-- Dashboard card navigation-->
                        <ul class="nav nav-tabs card-header-tabs" id="dashboardNav" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link {{^params.category}}active{{/params.category}}" href="/newsList" >
                                    통합검색({{total}})
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {{#params.category}}{{#politicsTotal}}active{{/politicsTotal}}{{/params.category}}" href="/newsList?category=POLITICS">
                                    정치
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {{#params.category}}{{#economyTotal}}active{{/economyTotal}}{{/params.category}}" href="/newsList?category=ECONOMY">
                                    경제
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {{#params.category}}{{#societyTotal}}active{{/societyTotal}}{{/params.category}}" href="/newsList?category=SOCIETY">
                                    사회
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {{#params.category}}{{#cultureTotal}}active{{/cultureTotal}}{{/params.category}}" href="/newsList?category=CURTURE">
                                    생활/문화
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {{#params.category}}{{#worldTotal}}active{{/worldTotal}}{{/params.category}}" href="/newsList?category=WORLD">
                                    세계
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {{#params.category}}{{#itTotal}}active{{/itTotal}}{{/params.category}}" href="/newsList?category=IT">
                                    IT/과학
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="tab-content" id="dashboardNavContent">
                            <!-- Dashboard Tab Pane 1-->
                            <div class="tab-pane fade active show" id="overview" role="tabpanel" aria-labelledby="overview-pill">

                                {{#politicsTotal}}
                                <div id="politicsContents">
                                    <h5 class="card-title" style="padding: 1.25rem;">정치({{#politicsTotal}}{{politicsTotal}}{{/politicsTotal}}{{^politicsTotal}}0{{/politicsTotal}})</h5>
                                    <div class="card-body">
                                        {{#politicsList}}
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div class="d-flex align-items-center">
                                                <div style="width: 100px; font-weight: bold;">{{company}}</div>
                                                <div class="ml-4">
                                                    <div class="small"><a href="#">{{title}}</a></div>
                                                    <div class="text-xs text-muted">{{domain}}</div>
                                                </div>
                                            </div>
                                            <div class="ml-4 small">
                                                <div class="badge badge-light mr-3">{{date}} {{ampm}} {{time}}</div>
                                            </div>
                                        </div>
                                            <hr>
                                        {{/politicsList}}
                                        {{^politicsList}}
                                        <div class="d-flex align-items-center justify-content-between">
                                            검색 결과가 없습니다.
                                        </div>
                                            <hr>
                                        {{/politicsList}}
                                    </div>
                                </div>
                                {{/politicsTotal}}

                                {{#economyTotal}}
                                <div id="economyContents">
                                    <h5 class="card-title" style="padding: 1.25rem;">경제({{#economyTotal}}{{economyTotal}}{{/economyTotal}}{{^economyTotal}}0{{/economyTotal}})</h5>
                                    <div class="card-body">
                                        {{#economyList}}
                                            <div class="d-flex align-items-center justify-content-between">
                                                <div class="d-flex align-items-center">
                                                    <div style="width: 100px; font-weight: bold;">{{company}}</div>
                                                    <div class="ml-4">
                                                        <div class="small"><a href="#">{{title}}</a></div>
                                                        <div class="text-xs text-muted">{{domain}}</div>
                                                    </div>
                                                </div>
                                                <div class="ml-4 small">
                                                    <div class="badge badge-light mr-3">{{date}} {{ampm}} {{time}}</div>
                                                </div>
                                            </div>
                                            <hr>
                                        {{/economyList}}
                                        {{^economyList}}
                                            <div class="d-flex align-items-center justify-content-between">
                                                검색 결과가 없습니다.
                                            </div>
                                            <hr>
                                        {{/economyList}}
                                    </div>
                                </div>
                                {{/economyTotal}}

                                {{#societyTotal}}
                                <div id="societyContents">
                                    <h5 class="card-title" style="padding: 1.25rem;">사회({{#societyTotal}}{{societyTotal}}{{/societyTotal}}{{^societyTotal}}0{{/societyTotal}})</h5>
                                    <div class="card-body">
                                        {{#societyList}}
                                            <div class="d-flex align-items-center justify-content-between">
                                                <div class="d-flex align-items-center">
                                                    <div style="width: 100px; font-weight: bold;">{{company}}</div>
                                                    <div class="ml-4">
                                                        <div class="small"><a href="#">{{title}}</a></div>
                                                        <div class="text-xs text-muted">{{domain}}</div>
                                                    </div>
                                                </div>
                                                <div class="ml-4 small">
                                                    <div class="badge badge-light mr-3">{{date}} {{ampm}} {{time}}</div>
                                                </div>
                                            </div>
                                            <hr>
                                        {{/societyList}}
                                        {{^societyList}}
                                            <div class="d-flex align-items-center justify-content-between">
                                                검색 결과가 없습니다.
                                            </div>
                                            <hr>
                                        {{/societyList}}
                                    </div>
                                </div>
                                {{/societyTotal}}

                                {{#cultureTotal}}
                                <div id="curtureContents">
                                    <h5 class="card-title" style="padding: 1.25rem;">생활/문화({{#cultureTotal}}{{cultureTotal}}{{/cultureTotal}}{{^cultureTotal}}0{{/cultureTotal}})</h5>
                                    <div class="card-body">
                                        {{#cultureList}}
                                            <div class="d-flex align-items-center justify-content-between">
                                                <div class="d-flex align-items-center">
                                                    <div style="width: 100px; font-weight: bold;">{{company}}</div>
                                                    <div class="ml-4">
                                                        <div class="small"><a href="#">{{title}}</a></div>
                                                        <div class="text-xs text-muted">{{domain}}</div>
                                                    </div>
                                                </div>
                                                <div class="ml-4 small">
                                                    <div class="badge badge-light mr-3">{{date}} {{ampm}} {{time}}</div>
                                                </div>
                                            </div>
                                            <hr>
                                        {{/cultureList}}
                                        {{^cultureList}}
                                            <div class="d-flex align-items-center justify-content-between">
                                                검색 결과가 없습니다.
                                            </div>
                                            <hr>
                                        {{/cultureList}}
                                    </div>
                                </div>
                                {{/cultureTotal}}

                                {{#worldTotal}}
                                <div id="worldContents">
                                    <h5 class="card-title" style="padding: 1.25rem;">세계({{#worldTotal}}{{worldTotal}}{{/worldTotal}}{{^worldTotal}}0{{/worldTotal}})</h5>
                                    <div class="card-body">
                                        {{#worldList}}
                                            <div class="d-flex align-items-center justify-content-between">
                                                <div class="d-flex align-items-center">
                                                    <div style="width: 100px; font-weight: bold;">{{company}}</div>
                                                    <div class="ml-4">
                                                        <div class="small"><a href="#">{{title}}</a></div>
                                                        <div class="text-xs text-muted">{{domain}}</div>
                                                    </div>
                                                </div>
                                                <div class="ml-4 small">
                                                    <div class="badge badge-light mr-3">{{date}} {{ampm}} {{time}}</div>
                                                </div>
                                            </div>
                                            <hr>
                                        {{/worldList}}
                                        {{^worldList}}
                                            <div class="d-flex align-items-center justify-content-between">
                                                검색 결과가 없습니다.
                                            </div>
                                            <hr>
                                        {{/worldList}}
                                    </div>
                                </div>
                                {{/worldTotal}}

                                {{#itTotal}}
                                <div id="itContents">
                                    <h5 class="card-title" style="padding: 1.25rem;">IT/과학({{#itTotal}}{{itTotal}}{{/itTotal}}{{^itTotal}}0{{/itTotal}})</h5>
                                    <div class="card-body">
                                        {{#itList}}
                                            <div class="d-flex align-items-center justify-content-between">
                                                <div class="d-flex align-items-center">
                                                    <div style="width: 100px; font-weight: bold;">{{company}}</div>
                                                    <div class="ml-4">
                                                        <div class="small"><a href="#">{{title}}</a></div>
                                                        <div class="text-xs text-muted">{{domain}}</div>
                                                    </div>
                                                </div>
                                                <div class="ml-4 small">
                                                    <div class="badge badge-light mr-3">{{date}} {{ampm}} {{time}}</div>
                                                </div>
                                            </div>
                                            <hr>
                                        {{/itList}}
                                        {{^itList}}
                                            <div class="d-flex align-items-center justify-content-between">
                                                검색 결과가 없습니다.
                                            </div>
                                            <hr>
                                        {{/itList}}
                                    </div>
                                </div>
                                {{/itTotal}}

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2020</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

{{>layout/footer}}